html,
body,
#map {
  height: 100%;
  z-index: 1;
}

#menu-icon-mapa{
    background-color: white;
    color: black;
    height: 100%;
    width: 90%;
    position: absolute;
    left: 0;
}

.drawer{
   z-index: 2;
}

.sidebar {
  will-change: transform;
}

/*Edita a barra de pesquisa*/
.leaflet-control-geosearch.leaflet-geosearch-bar {
  display: none;
  background-color: gray;
  border-radius: 25px;
  height: 50px;
  padding: 5px;
} 

/*Estilizando container das rotas alternativas */
.leaflet-routing-container.leaflet-bar.leaflet-control{
  border-radius: 15px;
  height: 150%;
  background-color: rgb(43, 96, 175);
  color: black;
  font-weight: bold;
}

/*Estilizando 'container' que mostra título da rota alternativa*/
.leaflet-routing-alt.leaflet-routing-alt-minimized{
  background-color: rgba(36, 221, 119, 0.842);
  color: black;
  font-weight: bold;
}

/*Existe um botão 'x' que fecha o container de rotas alternativas, mas ele não é clicável, então o código abaixo o esconde*/
.leaflet-routing-collapse-btn{
  display:none;
}

#botao{
  z-index: 2;
}

#botao2{
  margin-top: 80px;
  z-index: 3;
}

#botao3{
  margin-top: 160px;
  z-index: 3;
}