html,
body,
#map {
  height: 100%;
  z-index: 1;
}

#menu-icon-mapa{
    background-color: white;
    color: black;
    height: 100%;
    width: 90%;
    position: absolute;
    left: 0;
}

.drawer{
   z-index: 2;
}

.sidebar {
  will-change: transform;
}

/*Edita o botão de zoom in e zoom out
.leaflet-control-container .leaflet-top .leaflet-control-zoom a.leaflet-control-zoom-in {
   color: red; 
   background-color: aqua;
   border-radius: 9px;
}
*/

/*Edita a barra de pesquisa*/
.leaflet-control-geosearch.leaflet-geosearch-bar {
  display: none;
  background-color: gray;
  border-radius: 25px;
  height: 50px;
  padding: 5px;
} 

/*Edita o box onde está escrito "enter adress"*/
.glass {
  background-color: blue;
  padding: 10px;

}

/*Edita a div de resultados do autocomplete*/
div.results.active {
  background-color: red;
  color:yellow;
  padding: 15px;
  font-weight: bold;
}

/*Edita a fonte do autocomplete*/
.data-key{
  font-weight: bold;
}

/*Oculta o botão "X" da barra de pesquisa*/
.reset{
  display: none;
}

/*Estilizando botões para mostrar rotas extras*/
.leaflet-routing-container.leaflet-bar.leaflet-control{
  border-radius: 15px;
  height: 150%;
}

.leaflet-routing-alt.leaflet-routing-alt-minimized{
  background-color: rgb(43, 96, 175);
}