<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vaga Certa - intrapage</title>
        <link rel="stylesheet" href="../../static/css/style.css">
        <link rel="stylesheet" href="../../static/css/intrapage.css">
        <script src="../../static/js/nav.js"></script>
        
        <!--Beer CSS-->
        <link href="https://cdn.jsdelivr.net/npm/beercss@3.7.12/dist/cdn/beer.min.css" rel="stylesheet">
        <script type="module" src="https://cdn.jsdelivr.net/npm/beercss@3.7.12/dist/cdn/beer.min.js"></script>
        <script type="module" src="https://cdn.jsdelivr.net/npm/material-dynamic-colors@1.1.2/dist/cdn/material-dynamic-colors.min.js"></script>
    </head>

    <body>
      <nav class="top" onclick="fecharSidebar()">
        <button class="circle transparent absolute left" onclick="abrirSidebar()">
          <i id="menu-icon-navbar" >menu</i>
        </button>
        <div class="field large prefix round fill">
          <i class="front">search</i>
          <input id="search">
        </div>
        <div>
          <img class="logo-vaga-certa-nav" src="../../static/images/logo-vaga-certa-sem-fundo.png">
        </div>      
        <i class="extra absolute right" id="icone-user">account_circle</i>
      </nav>
      
      <div id="panel" class="responsive max" onclick="fecharSidebar()">
        <h2 class="box"> Bem vindo ao <b>&nbsp;Vaga Certa</b>! O que está procurando?</h2>
        <div class="options-panel">
          <div class="space">
            <div class="options">
              <div class="option">
                <span>Buscar por uma vaga</span>
                <a href="index.html" class="image-button">
                  <img src="../../static/images/pessoa-dirigindo.jpg" alt="Descrição da imagem">
                </a>
              </div>
              <div class="option">
                <span>Cadastrar o seu estacionamento</span>
                <a href="form-estacionamento.html" class="image-button">
                  <img src="../../static/images/estacionamento.jpg" alt="Descrição da imagem">
                </a>
              </div>
            </div>
          </div>
        </div>
      
        <div class="panel-footer">
          <p>Seja bem-vindo ao Vaga Certa! Aqui você encontra a vaga perfeita para o seu veículo.</p>
          <img class="logo-vaga-certa" src="../../static/images/logo-vaga-certa-sem-fundo.png" alt="Logo do Vaga Certa">
        </div>

        <!--Sidebar-->
        <dialog class="left no-padding" id="dialog" onclick="fecharSidebar()">
          <nav class="drawer" onclick="fecharSidebar()">
            <header>
              <nav>
                <img class="circle" src="../../static/images/logo-vaga-certa.png">
                <h6>Vaga Certa</h6>
                <button class="transparent circle large" onclick="fecharSidebar()">
                  <i>close</i>
                </button>
              </nav>
            </header>
            <a href="login.html">
              <i>login</i>
              <span>Fazer login</span> 
            </a>
            <a>
              <i>track</i>
              <span id="inbox">Histórico de reservas</span>
            </a>
            <a>
              <i>notifications</i>
              <span>Notificações</span>
            </a>
            <a>
              <i>favorite</i>
              <span>Minhas avaliações</span>
            </a>
          </nav>
        </dialog>
      </div>
    </body>
</html>