<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vaga Certa - Login</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/beercss@3.7.12/dist/cdn/beer.min.css">
    <script type="module" src="https://cdn.jsdelivr.net/npm/beercss@3.7.12/dist/cdn/beer.min.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/material-dynamic-colors@1.1.2/dist/cdn/material-dynamic-colors.min.js"></script>
    <script src="../../static/js/nav.js"></script>
    
    <link rel="stylesheet" href="../../static/css/style.css">
    <link rel="stylesheet" href="../../static/css/login.css">

    <script>
        function abrirForm(){
          let form = document.getElementById('signup-form');
          form.classList.toggle('add');
        }
    </script>
</head>
<body>
    <nav class="top" onclick="fecharSidebar()">
      <button class="circle transparent absolute left" onclick="abrirSidebar()">
        <i id="menu-icon-navbar" >menu</i>
      </button>
      <div class="field large prefix round fill">
        <i class="front">search</i>
        <input id="search">
      </div>
      <div>
        <img class="logo-vaga-certa-nav" src="../../static/images/logo-vaga-certa-sem-fundo.png">
      </div>      
      <i class="extra absolute right" id="icone-user">account_circle</i>
    </nav>

    <main class="responsive max" onclick="fecharSidebar()">

        <h2 class="blue-box">Log in</h2>

        <div class="space">
            <div class="progress-bar">
                <div class="step active"></div>
                <div class="step"></div>
                <div class="step"></div>
                <div class="step"></div>
                <div class="step"></div>
            </div>
        </div>

        <div class="container">
            <div class="form">
                <h2>Faça o seu login!</h2>
                <form action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                    <section class="question-sect">
                        <label for="username">Usuário*:</label>
                        <input type="text" id="username" name="email" required>
                    </section>
                    <section class="question-sect">
                        <label for="password">Senha*:</label>
                        <input type="password" id="password" name="password" required>    
                    </section>
                    <section>
                        <button type="submit" name="action" value="login">Entrar</button>
                    </section>
                    <section>
                        <p>Ainda não tem uma conta? <a onclick="abrirForm()">Cadastre-se!</a></p>
                    </section>
                </form>
            </div>

            <div class="form add" id="signup-form">
                <h2>Ainda não tem uma conta? Crie agora!</h2>
                <form action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                    <section class="question-sect">
                        <label for="username2">Usuário:</label>
                        <input type="text" id="username2" name="email" required>
                    </section>
                    <section class="question-sect">
                        <label for="password2">Senha:</label>
                        <input type="password" id="password2" name="password" required>
                    </section>
                    <section>
                        <button type="submit" name="action" value="register">Cadastrar</button>
                    </section>
                </form>
            </div>
        </div>

        <div class="panel-footeer">
          <a href="{% url 'index' %}" class="btn back-btn">Voltar</a>
          <a href="{% url 'confirmation' %}" class="btn next-btn">Próximo</a>
        </div>
    </main>

</body>
</html>