<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vaga Certa - Recibo</title>
    <link rel="stylesheet" href="../../static/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Beer CSS -->
    <link href="https://cdn.jsdelivr.net/npm/beercss@3.7.12/dist/cdn/beer.min.css" rel="stylesheet">

    <script type="module" src="https://cdn.jsdelivr.net/npm/beercss@3.7.12/dist/cdn/beer.min.js"></script>
    <script type="module" src="https://cdn.jsdelivr.net/npm/material-dynamic-colors@1.1.2/dist/cdn/material-dynamic-colors.min.js"></script>

    <!-- Local -->
    <script src="../../static/js/nav.js"></script>
    <link rel="stylesheet" href="../../static/css/recibo.css">
  </head>

  <body>
    <nav class="top" onclick="fecharSidebar()">
      <button class="circle transparent absolute left" onclick="abrirSidebar()">
        <i id="menu-icon-navbar">menu</i>
      </button>
      <div class="field large prefix round fill">
        <i class="front">search</i>
        <input id="search">
      </div>
      <div>
        <img class="logo-vaga-certa-nav" src="../../static/images/logo-vaga-certa-sem-fundo.png">
      </div>
      <i class="extra absolute right" id="icone-user">account_circle</i>
    </nav>

    <main class="responsive max" onclick="fecharSidebar()">
      <div class="title-banner">
        <h1>Parabéns, reserva realizada com sucesso!</h1>
        <h2>Agora você pode ir sem se preocupar!</h2>
      </div>

      <div class="space">
        <div class="progress-bar">
          <div class="step active"></div>
          <div class="step active"></div>
          <div class="step active"></div>
          <div class="step active"></div>
          <div class="step"></div>
        </div>
      </div>

      <section class="main">
        <div class="info-card">
          <section class="separator">
            <div class="qrcode-area">
              <img class="qrcode" src="../../static/images/QRCodeMock.png" alt="qrcode">
              <h3>Compra # <span id="idCompra">{{ num_compra }}</span></h3>
            </div>
          </section>
          <section class="separator">
            <div class="info-header">
              <h1 id="nome">{{ nome_estacionamento }}</h1>

              <div class="info-item">
                <img class="icone" src="../../static/images/pin-mapa.png">
                <h3>{{ endereço }}</h3>
              </div>

              <div class="info-item">
                <img class="icone" src="../../static/images/telefone.png">
                <h3>{{ telefone }}</h3>
              </div>
            </div>
            <section class="info-body">
              <div class="info-reservation-with-photo">
                <div class="panel-info-reservation">
                  <div>
                    <p>Inicio: <span id="inicio">{{ inicio }}</span></p>
                    <p>Fim: <span id="fim">{{ fim }}</span></p>
                  </div>
                </div>
                <a href="index.html" class="image-button">
                  <img class="foto" src="../../static/images/img2.jpg" alt="Foto do estacionamento">
                </a>
              </div>
              <div class="info-reservation-with-photo">
                <div class="panel-info-reservation">
                  <div>
                    <p>Valor:<span id="valor"> R$ {{ valor }} </span></p>
                    <p>Forma de pagamento: <span id="pagamento"> {{ pagamento }} </span></p>
                  </div>
                </div>
                <a href="index.html" class="image-button">
                  <img class="foto" src="../../static/images/Mapa.png" alt="Local do estacionamento">
                </a>
              </div>
            </section>
          </section>
        </div>
      </section>
      <div class="panel-footeer">
        <a href="index.html" class="btn back-btn">Voltar o mapa</a>
      </div>
    </main>

    <dialog class="left no-padding" id="dialog" onclick="fecharSidebar()">
      <nav class="drawer" onclick="fecharSidebar()">
        <header>
          <nav>
            <img class="circle" src="../../static/images/logo-vaga-certa-sem-fundo.png">
            <h6 class="max">Vaga Certa</h6>
            <button class="transparent circle large" onclick="fecharSidebar()">
              <i>close</i>
            </button>
          </nav>
        </header>
        <a href="login.html">
          <i>inbox</i>
          <span class="max">Inbox</span>
          <b>24</b>
        </a>
        <a href="recibo.html">
          <i>send</i>
          <span>Outbox</span>
        </a>
        <a>
          <i>favorite</i>
          <span>favorities</span>
        </a>
        <a>
          <i>delete</i>
          <span>Trash</span>
        </a>
        <hr>
        <label>Labels</label>
        <a>
          <i>fiber_manual_record</i>
          <span>Label</span>
        </a>
        <a>
          <i>change_history</i>
          <span>Label</span>
        </a>
        <a>
          <i>stop</i>
          <span>Label</span>
        </a>
      </nav>
    </dialog>
  </body>
</html>
