*{
    word-wrap: break-word;
}

.max{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
}

main.responsive{
    padding: .5rem 0;
}

.title-banner{
    background-color: var(--primary-color-light);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:var(--line-light);
    padding: 1rem;
    h1{
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
    }
    h2{
        font-size: 1.2rem;
        text-align: center;
    }
}

.main{
    width: 100%;
    padding: 0 2rem;
    .info-card{
        background-color: var(--neutral-element);
        color: var(--line-light);
        padding: 0 1rem;
        display: flex;
        flex-direction: column;
        h1{
            font-size: 2rem;
            font-weight: bold;
            text-align: center;
        }

        h3{
            font-size: 1.5rem;
            text-align: center;
        }

        section{
            display: flex;
            flex-direction: column;
            div{
                flex: 1;
                div{
                }
                img{
                    width: 100%;
                    height: auto;
                    display: none;
                }

                .qrcode{
                    display: block;
                }

                p{
                    font-size: 1rem;
                    font-weight: bold;

                    span{
                        float: inline-end;
                    }
                }
            }
        }

        .separator:first-child{
            border-bottom: 1px dotted var(--line-light);
            padding-bottom: 1rem;
            
            div{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                h3{
                    text-align: center;
                    font-weight: bold;
                }
            }
        }

        .info-header{
            flex-direction: column;
        }
    }
}

@media (min-width: 500px) {
    .main{
        .info-card{
            flex-direction: row-reverse;

            h1{
                text-align: start;
            }

            h3{
                text-align: start;
            }

            section{
                padding-bottom: 0.5rem;
                div{
                    margin: 0.25rem;
                    img{
                        display: block;
                    }
                }
            }

            .info-body{
                flex-direction: row;
                
            }

            .separator:first-child{
                border: 0;
                width: 30%;
                margin: 1rem 0;

                margin-left: 1rem;

                border-left: 1px dotted var(--line-light);

                div{
                    img{
                        max-width: 20vw;
                    }
                }
            }

            .separator:last-child{
                width: 70%;
            }
        }
    }

}