.max{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
}

main.responsive{
    padding: .5rem 0;
}

.title-banner{
    background-color: var(--primary-color-light);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:var(--surface-container-lowest);
    padding: 1rem 0;
    h1{
        font-size: 2.5rem;
        font-weight: bold;
    }
    h2{
        font-size: 2rem;
    }
}

.main{
    width: 100%;
    padding: 0 3rem;
    .info-card{
        background-color: var(--surface-variant);
    }
}