.max{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--neutral-background);
    flex-direction: column;
}

main.responsive{
  padding: 0;
  padding-top: 0.5rem;
}

.container{
    
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    padding-bottom: 5rem;
}


.form{
    background-color: var(--neutral-element);
    border-radius: 10px;
    width: 30%;
    min-height: 30rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;

    transition: 0.2s;

    h2{
        text-align: center;
        font-weight: bolder;
        color: var(--line-light);
        font-size: 2rem;
    }

    section{
        display: flex;
        flex-direction: column;
        label{
            font-size: 1.5rem;
            font-weight: bold;
            margin:  0 0 0 0.5rem ;
            color: var(--line-light);
        }
        
        input{
            border: 0;
            background-color:var(--neutral-diff);
            padding: 0 0.2rem;
            font-size: 1rem;
            color:black;
            font-weight:bold;
        }

        button{
            margin: 5rem 0 0 0;
            font-weight: bold;
            font-size: 1.2rem;
            background-color: var(--primary-color-neutral);
            color: var(--primary-color-light);
            transition: 0.15s;
        }

        p{
            color: var(--line-light)
        }

        a{
            color: var(--primary-color-dark);
            text-decoration: underline;
            transition: color 0.2s;

        }
        a:hover{
            color: var(--primary-color-neutral);
        }
    }

    .question-sect{
        padding: 0 8%;
    }


}

.add{
    min-height: 0rem;
    padding: 0 2rem;
    height: 0;
    overflow-y: hidden;
    margin-top: 0;
}

.btn {
  font-size: 16px;
  width: 163px;
  height: 48px;
  cursor: pointer;
  transition: all .2s ease-in-out;
  letter-spacing: 1px;
  border: none;
  border-radius: 23px;
}
 
.back-btn {
  color: #3995f8;
  background: #fff;
}
 
.next-btn {
  color: #fff;
  background: #3995f8;
}
 
.btn:focus {
  outline: none;
}
 
.btn:hover {
  transform: scale(1.1);
}
.blue-border {
  border: 1px solid #3995f8;
}
.warning {
  border-color: #3995f8;
}

@media (max-width: 1000px){

  .form{
    width: 90%;
  }

  .step{
    font-size: 0.8rem;
    margin-bottom: 1rem;
  }

  .step::before{
    top: 1rem;
  }
}