@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root{
  --primary-color-neutral: #3995f8;
  --primary-color-light:#a3cfff;
  --primary-color-dark: #007aff;

  --neutral-element: #dbdbdb;
  --neutral-diff: #f9f9f9;
  --neutral-background: #fff;

  --line-dark: #000;
  --line-light: #2e2e2e;
}


*{
  font-family: 'Quicksand', sans-serif;
}

html,
body,
#map {
  height: 100%;
  z-index: 1;
  box-sizing: border-box;
}

#menu-icon-mapa{
    background-color: white;
    color: black;
    height: 100%;
    width: 90%;
    position: absolute;
    left: 0;
}

main.responsive{
  background-color: var(--neutral-background);
}

.logo-vaga-certa-nav {
  width: 70px;
  height: auto;
}

.top{
  background-color: var(--primary-color-neutral);
}

.drawer{
   z-index: 2;
}

.sidebar {
  will-change: transform;
}

/*Edita o botão de zoom in e zoom out
.leaflet-control-container .leaflet-top .leaflet-control-zoom a.leaflet-control-zoom-in {
   color: red; 
   background-color: aqua;
   border-radius: 9px;
}
*/

/*Edita a barra de pesquisa*/
.leaflet-control-geosearch.leaflet-geosearch-bar {
  display: none;
  background-color: gray;
  border-radius: 25px;
  height: 50px;
  padding: 5px;
} 

/*Edita o box onde está escrito "enter adress"*/
.glass {
  background-color: blue;
  padding: 10px;

}

/*Edita a div de resultados do autocomplete*/
div.results.active {
  background-color: red;
  color:yellow;
  padding: 15px;
  font-weight: bold;
}

/*Edita a fonte do autocomplete*/
.data-key{
  font-weight: bold;
}

/*Oculta o botão "X" da barra de pesquisa*/
.reset{
  display: none;
}

/*Estilizando botões para mostrar rotas extras*/
.leaflet-routing-container.leaflet-bar.leaflet-control{
  border-radius: 15px;
  height: 150%;
}

.leaflet-routing-alt.leaflet-routing-alt-minimized{
  background-color: rgb(43, 96, 175);

#botaoGPS{
  margin-top: 160px;
  margin-right: 20px;
  z-index: 2;
}

#botaoOcultarRota{
  margin-top: 240px;
  margin-right: 20px;
  z-index: 3;
}

  .panel-footeer {
    display: flex;
    width: 100%;
    height: 96px;
    padding: 0 80px;
    background-color: rgb(239, 239, 239);
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0; 
    z-index: 1000; 
  }

  .btn {
    font-size: 16px;
    width: 163px;
    height: 48px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    letter-spacing: 1px;
    border: none;
    border-radius: 23px;
  }
   
  .back-btn {
    color: #3995f8;
    background: #fff;
  }
   
  .next-btn {
    color: #fff;
    background: #3995f8;
  }
   
  .btn:focus {
    outline: none;
  }
   
  .btn:hover {
    transform: scale(1.1);
  }
  .blue-border {
    border: 1px solid #3995f8;
  }
  .warning {
    border-color: #3995f8;
  }

.checked {
  color: orange;
}

#endereco-do-estacionamento, #telefone-estacionamento{
  font-size: 20px;
}

#dia-e-horario-da-reserva{
  height: 200px;
  width: 100%;
}

#pergunta-reserva{
  color: black;
}

#div-data-horario{
  display: flex;
  justify-content: center;
  align-items: center;
}

#hora{
  margin: 10px;
}

#modal{
  width: 600px;
}
