html,
body,
#map {
  height: 100%;
  z-index: 1;     
  font-family: 'iCiel Gotham', sans-serif;                                     
}

#menu-icon-mapa{
    background-color: white;
    color: black;
    height: 100%;
    width: 90%;
    position: absolute;
    left: 0;
    border-radius: 5px;
}

.drawer{
   z-index: 2;
}

.sidebar {
  will-change: transform;
}

/*Edita a barra de pesquisa*/
.leaflet-control-geosearch.leaflet-geosearch-bar {
  display: none;
  background-color: gray;
  border-radius: 25px;
  height: 50px;
  padding: 5px;
} 

/*Estilizando container das rotas alternativas */
.leaflet-routing-container.leaflet-bar.leaflet-control{
  border-radius: 15px;
  height: 150%;
  background-color: rgb(41, 42, 44);
  font-weight: bold;
}

/*Estilizando 'container' que mostra título da rota alternativa*/
.leaflet-routing-alt.leaflet-routing-alt-minimized{
  background-color: #2365c9;
  color: black;
  font-weight: bold;
}

/*Existe um botão 'x' que fecha o container de rotas alternativas, mas ele não é clicável, então o código abaixo o esconde*/
.leaflet-routing-collapse-btn{
  display:none;
}

tr:hover{
  background-color:rgb(85, 87, 90);
}

h2 {
  font-weight: bold;
}

#botaoZoomIn{
  z-index: 2;
  margin-right: 20px;
}

#botaoZoomOut{
  margin-top: 80px;
  margin-right: 20px;
  z-index: 3;
}

#botaoGPS{
  margin-top: 160px;
  margin-right: 20px;
  z-index: 2;
}

#botaoOcultarRota{
  margin-top: 240px;
  margin-right: 20px;
  z-index: 3;
}

#ola-usuario{
  margin-right: 20px;
}

.checked {
  color: orange;
}

#endereco-do-estacionamento, #telefone-estacionamento{
  font-size: 20px;
}

#dia-e-horario-da-reserva{
  height: 200px;
  width: 100%;
}

#pergunta-reserva{
  color: black;
}

#div-data-horario{
  display: flex;
  justify-content: center;
  align-items: center;
}

#hora{
  margin: 10px;
}

#modal{
  width: 600px;
}