@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root{
  --primary-color-neutral: #3995f8;
  --primary-color-light:#a3cfff;
  --primary-color-dark: #007aff;

  --neutral-element: #dbdbdb;
  --neutral-diff: #f9f9f9;
  --neutral-background: #fff;

  --line-dark: #000;
  --line-light: #2e2e2e;
}


*{
  font-family: 'Quicksand', sans-serif;
}

html,
body,
#map {
  height: 100%;
  z-index: 1;
  box-sizing: border-box;
}

#menu-icon-mapa{
    background-color: white;
    color: black;
    height: 100%;
    width: 90%;
    position: absolute;
    left: 0;
}

main.responsive{
  background-color: var(--neutral-background);
}

.logo-vaga-certa-nav {
  width: 70px;
  height: auto;
}

.top{
  background-color: var(--primary-color-neutral);
}

.drawer{
   z-index: 2;
}

.sidebar {
  will-change: transform;
}

/*Edita o botão de zoom in e zoom out
.leaflet-control-container .leaflet-top .leaflet-control-zoom a.leaflet-control-zoom-in {
   color: red; 
   background-color: aqua;
   border-radius: 9px;
}
*/

/*Edita a barra de pesquisa*/
.leaflet-control-geosearch.leaflet-geosearch-bar {
  display: none;
  background-color: gray;
  border-radius: 25px;
  height: 50px;
  padding: 5px;
} 

/*Edita o box onde está escrito "enter adress"*/
.glass {
  background-color: blue;
  padding: 10px;

}

/*Edita a div de resultados do autocomplete*/
div.results.active {
  background-color: red;
  color:yellow;
  padding: 15px;
  font-weight: bold;
}

/*Edita a fonte do autocomplete*/
.data-key{
  font-weight: bold;
}

/*Oculta o botão "X" da barra de pesquisa*/
.reset{
  display: none;
}

/*Estilizando botões para mostrar rotas extras*/
.leaflet-routing-container.leaflet-bar.leaflet-control{
  border-radius: 15px;
  height: 150%;
}

.leaflet-routing-alt.leaflet-routing-alt-minimized{
  background-color: rgb(43, 96, 175);
}

#botaoGPS{
  margin-top: 160px;
  margin-right: 20px;
  z-index: 2;
}

#botaoOcultarRota{
  margin-top: 240px;
  margin-right: 20px;
  z-index: 3;
}

  .btn {
    font-size: 16px;
    width: 163px;
    height: 48px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    letter-spacing: 1px;
    border: none;
    border-radius: 23px;
  }
   
  .back-btn {
    color: #3995f8;
    background: #fff;
  }
   
  .next-btn {
    color: #fff;
    background: #3995f8;
  }
   
  .btn:focus {
    outline: none;
  }
   
  .btn:hover {
    transform: scale(1.1);
  }
  .blue-border {
    border: 1px solid #3995f8;
  }
  .warning {
    border-color: #3995f8;
  }

.checked {
  color: orange;
}

#endereco-do-estacionamento, #telefone-estacionamento{
  font-size: 20px;
}

#dia-e-horario-da-reserva{
  height: 200px;
  width: 100%;
}

#pergunta-reserva{
  color: black;
}

#div-data-horario{
  display: flex;
  justify-content: center;
  align-items: center;
}

#hora{
  margin: 10px;
}

#modal{
  width: 600px;
}

.panel-footeer {
  display: flex;
  width: 100%;
  padding: 1rem 5%;
  background-color: var(--neutral-element);
  justify-content: space-between;
  align-items: center;
  bottom: 0;
  left: 0; 
}

.btn {
  font-size: 16px;
  width: 163px;
  height: 48px;
  cursor: pointer;
  transition: all .2s ease-in-out;
  letter-spacing: 1px;
  border: none;
  border-radius: 23px;
}
 
.back-btn {
  color: #3995f8;
  background: #fff;
}
 
.next-btn {
  color: #fff;
  background: #3995f8;
}
 
.btn:focus {
  outline: none;
}
 
.btn:hover {
  transform: scale(1.1);
}
.blue-border {
  border: 1px solid #3995f8;
}
.warning {
  border-color: #3995f8;
}


.blue-box {
  width: 80%; 
  height: 70px; 
  background-color: #3995f8; 
  color: white; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  margin: 0 auto;
  margin-top: 0px; 
  margin-bottom: 70px; 
  border-radius: 30px; 
  font-size: 2rem;
  padding: 1.5rem;
  text-align: center;
}

.space {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.progress-bar {
  width: 64vw;
  display: flex;
  margin-bottom: 50px;
  justify-content: space-between;
  align-items: center; 
}
 
.step {
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  display: block;
  width: 25px;
  height: 25px;
  margin-bottom: 30px;
  border: 4px solid #fff;
  border-radius: 50%;
  background-color: #efefef;
}
 
.step:after {
  position: absolute;
  z-index: -1;
  top: 5px;
  left: 22px;
  width: calc(16vw - 12px);
  height: 6px;
  content: '';
  background-color: #efefef;
}
 
.step:before {
  color: #2e2e2e;
  position: absolute;
  top: 40px;
}
 
.step:last-child:after {
  content: none;
}
 
.step.active {
  background-color: #3995f8;
}
.step.active:after {
  background-color: #3995f8;
}
.step.active:before {
  color: #3995f8;
}
.step.active + .step {
  background-color: #3995f8;
}
.step.active + .step:before {
  color: #3995f8;
}
 
.step:nth-child(1):before {
  right: -50px;
  content: 'Estacionamento';
}
.step:nth-child(2):before {
  right: -12px;
  content: 'Login';
}
.step:nth-child(3):before {
  right: -40px;
  content: 'Confirmação';
}
.step:nth-child(4):before {
  right: -32px;
  content: 'Pagamento';
}
.step:nth-child(5):before {
  right: -5px;
  content: 'Fim';
}

.input-wrapper {
  position: relative;
  display: inline-block;
}

button {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border: none;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

button i {
  margin-right: 10px;
}

input[type="date"], input[type="time"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#resultados {
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  width: 800px;
}


@media (max-width: 1000px){
  .step{
    font-size: 0.8rem;
    margin-bottom: 1rem;
  }

  .step::before{
    top: 1rem;
  }
}